.root{
  -fx-background-color: rgb(59, 63, 71);
}

.button{
  -fx-background-color: rgb(162, 170, 184);
}

#pplBox{
    -fx-background-color: rgb(52, 55, 61) !important;
    -fx-text-fill: white !important;
}

#console{
  -fx-background-color: rgb(99, 111, 130);
  -fx-text-fill: white;
}

.list-view{
    -fx-background-color: rgb(59, 63, 71) !important;
}

.list-cell{
  -fx-background-color: rgb(59, 63, 71);
  -fx-text-fill: white;
}

.list-cell:filled:hover{
    -fx-background-color: rgb(48, 50, 56);
    -fx-text-fill: white;
}
